body {
  background-color: rgb(19, 26, 26);
  margin: 20px;
}
h1 {
  border: 1px solid white;
  box-shadow: 3px 3px white;
  text-shadow: 1px 1px white;
}
h2 {
  font-family: monospace;
  color: white;
}
p {
  color: rgba(201, 201, 201, 0.721);
}
audio {
  display: grid;
  place-items: center;
  margin: 20px;
}
