@import url("https://fonts.googleapis.com/css2?family=Changa&family=Hammersmith+One&family=Syne&display=swap");

body {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}

h1 {
  padding: 0px;
  margin: 0px;
}

.syne {
  font-family: "Syne";
  font-size: 40px;
}

p,
h2 {
  line-height: 1.4em;
  font-family: monospace;
}
@media only screen and (max-width: 415px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.binaur {
  margin-top: 40px;
  font-family: "Syne";
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 17px;
  padding: 12px 12px;
}

@media (hover: hover) and (pointer: fine) {
  .binaur:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

.binaur:focus {
  outline: none;
}
.redeye {
  border: 1px solid black;
  box-shadow: 4px 4px black;
  text-decoration: none;
}

a {
  color: rgb(177, 0, 0);
  text-decoration: none;
  padding-left: 5px;
}
/* todo: fix link stuff */
