@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa&family=Hammersmith+One&family=Syne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg, #151515ff, #3d3d3dff);
  background-size: 1000% 1000%;
  animation: AnimationName 12s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 48% 0%;
  }
  50% {
    background-position: 53% 90%;
  }
  100% {
    background-position: 48% 0%;
  }
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
}

input[type="checkbox"] + label {
  width: 40px;
  height: 40px;
  text-indent: -999px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  background: transparent;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}

input[type="checkbox"]#start-stop:checked + label {
  border: 2px solid white;
  background: white;
}

h1 {
  font-family: "Syne";
  margin: 20px;
  color: white;
}
p {
  font-family: monospace;
  text-align: center;
  font-size: 14px;
  color: white;
}

/* volume stuff  */
/* #volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 2px;
  background: white;
  cursor: pointer;
  transform: translateY(-10px);
}
#volume::-moz-range-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 2px;
  background: white;
  cursor: pointer;
  transform: translateY(-10px);
}
#volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-top: 1px solid white;
  transform: translateY(2.8px);
}
#volume::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-top: 1px solid white;
  transform: translateY(-6px);
}

#volume {
  -webkit-appearance: none;
  width: 200px;
  background: transparent;
  margin-top: 40px;
  margin-bottom: 10px;
}

#volume:focus {
  outline: none;
} */

input[type="range"] {
  width: 100%;
  margin: 8px 0;
  background-color: transparent;
  -webkit-appearance: none;
  margin-top: 40px;
  margin-bottom: 15px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0);
  border: 1.5px solid #ffffff;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -9.5px;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff00;
}
input[type="range"]::-moz-range-track {
  background: rgba(255, 255, 255, 0);
  border: 1.5px solid #ffffff;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #ffffff;
  border: 1.5px solid #ffffff;
}
input[type="range"]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0);
  border: 1.5px solid #ffffff;
}
input[type="range"]::-ms-thumb {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0);
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff00;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

#testimony {
  font-family: monospace;
  font-size: 14px;
  color: #01ffff;
  margin: 20px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 0px;
  box-shadow: 0 6px 20px 0 rgb(0, 0, 0, 0.2);
  resize: none;
  background-color: rgba(255, 255, 255, 0.12);
  outline: none;
}
#testimony::placeholder {
  color: rgba(255, 255, 255, 0.6);
  border: none;
}

#testimony:focus {
  box-shadow: 4px 4px #01ffff, 0 6px 20px 0 rgb(0, 0, 0, 0.2);
  border-radius: 1px;
  /* background: rgba(255, 105, 180, 0.475); */
}

.cycle {
  font-family: "Syne";
  box-shadow: 0 6px 20px 0 rgb(0, 0, 0, 0.4);
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  color: black;
  font-size: 17px;
  padding: 12px 12px;
}

@media (hover: hover) and (pointer: fine) {
  .cycle:hover,
  .cycle.active {
    background-color: #01ffff;
    border: 1px solid #01ffff;
    color: black;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

.cycle:focus {
  outline: none;
}
